# Dependencies
node_modules/
.pnpm-store/

# Turbo
.turbo/

# Build outputs
dist/
build/
out/

# Wrangler / Cloudflare
.wrangler/
.dev.vars

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
